* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body > header {
    background-color: #103150;
    padding: 20px 0;
    color: #f7f7f7;
    font-size: 18px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 20px;
}

header li a {
    color: #f4f5fa;
}

.container {
    width: 1366px;
    margin: 0 auto;
    text-align: center;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.articles article img {
   /* height: 190px; */
   width: 80%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin-bottom: 50px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #103150;
    color: #fff;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    margin-top: 6px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 38px;
    text-align: center;
}

#sports {
    background-color: rgba(100, 255, 0, 0.2);
}
#sports .articles article a {
    background-color: #103150;
}
#economy {
    background-color: #f0f59f;
}
#entertainment {
    background-color: #eb614250;
}
#newsletter{
    background-color: #fefefe;
    
}
#technology{
    background-color: #152e4436;
}

#newsletter footer, h1 {
    background-color: #103150;  
    display: contents;
    float: left;
    padding: 20px;
    width: 100%;
    color: #f7f7f7;
    display: ruby-text;
}

.snGoOA_K1k6VDRC6PCPSrQ {
    visibility: hidden !important;
}

.cognito {
    height: 380px !important;
    overflow: hidden !important;

}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

